{{>head}}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Capitan America</h1>
        <p>Es hombre , como Kenny es a marica, como puerco es a Juan y como kevin es a rio sin caudal</p>
    </div>
    <div class="col-4">
    <img src="assets/img/capitan-america.jpg" class="img-thumbnail">
    </div>
</div>

{{>footer}} 
